body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #d2fdff;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #303c6c;
    border-left: 1px solid black;
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: #d2fdff;
    color: #303c6c;
    border-radius: 0;
    border-bottom: 10px solid black;
}


/* Unsure when this class will be used  */

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    ;
}

.hour {
    background-color: #b4dfe5;
    color: #303c6c;
    border-top: 1px black;
    border-bottom: 1px black;
    border-left: 1px solid black;
    padding-top: 30px;
}


/* update these to the colors that I would like them to be  */

.past {
    background-color: #FBE8A6;
    ;
    color: #303c6c;
}

.present {
    background-color: #F4976C;
    color: #303c6c;
}

.future {
    background-color: #fbecb7;
    color: #303c6c;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #b4dfe5;
    color: #303c6c;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.clearBtn {
    float: center;
    border-radius: 10px;
    background-color: #303c6c;
    color: white;
    opacity: 1;
    font-size: 30px;
    padding: 5px;
    margin: auto;
    display: block;
}

.clearBtn:Hover {
    font-size: 30px;
    opacity: 0.6;
    transition: all .3s ease-in-out;
}

.far {
    font-size: 200%;
}